@import "variables.scss";

* {
  all: unset;
  font-family: "Mononoki";
}
// WINDOW RELATED CSS
.bg {
  background-color: $color-bg-alt;
  border: 1px solid $color-bg-alt;
}

.bg-box {
  background-color: transparent;
}

.notes {
  padding: 10px 20px 10px 5px;
}

window {
  background: $color-bg;
  color: $color-fg;
  border-radius: 8px;
  border: 1px solid $color-bg;
}

// MISC EDITING
.uinfo {
  font-size: 1.25rem;
}
.cpu {
  padding: 19px;
}

// METRIC LOOKS
.metric scale trough highlight {
  all: unset;
  color: #000000;
  background: $color-dim-cyan;
  border-radius: 8px;
}
.metric scale trough {
  all: unset;
  background-color: $color-bright-black;
  border-radius: 8px;
  min-height: 10px;
  min-width: 100px;
  margin-left: 10px;
  margin-right: 5px;
}

.metric .label {
  color: $color-dim-white;
  font-size: 2rem;
}

// POWERMENU
.bigpowermenu {
  font-size: 3rem;
}

.quicksettings {
  font-size: 1.75rem;
}

// WIDGET MISC SETTINGS

.quote-text {
  padding: 5px;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  color: $color-normal-magenta;
}

.appbar{
  font-size: 2rem;
}

.cal {
  color: $color-normal-cyan;
  padding: 5px;
  padding-bottom: 1px;
}

.favs {
  color: $color-normal-white;
  font-size: 2rem;
}

.small-date {
  font-weight: 700;
}

// Search App CSS
.searchapps-bar {
  color: $color-normal-cyan;
  font-size: 1.5rem;
  margin: -2px;
  padding: 30px 90px 30px 90px;
  background-color: $color-bg-alt; // #1E222A;
  border: 6px solid $color-bright-blue;
}
.search-bar {
  color: $color-normal-cyan;
}
.search-label {
  font-family: "Iosevka";
  font-size: 2rem;
  font-weight: 700;
  padding-right: 20px;
}
.app-container {
  margin: -2px;
  font-size: 1.25rem;
  padding: 30px;
  color: $color-normal-cyan;
}
.item {
  padding: 10px;
  background: rgba(10,10,10,0.4);
}

.label-control {
  color: $color-bright-blue;
  font-size: 1.5rem;
  padding: 15px;
}

.controls {
  font-size: 2rem;
  padding-bottom: 20px;
}

.bar {
  border: 0px;
  border-radius: 8px;
  background-color: $color-bg;
  color: $color-fg;
  padding-left: 8px;
  padding-right: 8px;
}

.tag {
  font-size: 2rem;
  color: $color-dim-white;
}

.tag .mine {
  color: $color-bg;
  background-color: $color-normal-green;
}

.tag .busy {
  color: $color-dim-cyan;
}

.tag .notified {
  color: $color-normal-yellow;
}