@import "variables.scss";

$window-bg: $color-bg;
$spacing: 8px;
$spacing-double: 16px;
$spacing-half: 4px;
$border-radius: $spacing-half;
$bar-vertical-padding: $spacing-half;
$bar-horizontal-padding: $spacing;

* {
  all: unset;
  font-family: "mononoki Nerd Font Mono";
}
// WINDOW RELATED CSS
.bg {
  background-color: $window-bg;
  border: 1px solid $window-bg;
}

.bg-box {
  background-color: $window-bg;
}

.notes {
  padding: 10px 20px 10px 5px;
}

window {
  background: transparent;
  color: $color-fg;
  // border-radius: 8px;
  border: 1px solid transparent;
}

// MISC EDITING
.uinfo {
  font-size: 1.25rem;
}

// METRIC LOOKS
.metric scale trough highlight {
  all: unset;
  color: #000000;
  background: $color-dim-cyan;
  border-radius: 8px;
}
.metric scale trough {
  all: unset;
  background-color: $color-bright-black;
  border-radius: 8px;
  min-height: 10px;
  min-width: 100px;
  margin-left: 10px;
  margin-right: 5px;
}

.metric .label {
  color: $color-dim-white;
  font-size: 2rem;
}

// POWERMENU
.bigpowermenu {
  padding-right: 10px;
  font-size: 1.5rem;
  color: $color-dim-white;
  // background-color: $window-bg;
}

.powerbutton {
  font-size: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
}

.quicksettings {
  font-size: 1.75rem;
}

// WIDGET MISC SETTINGS

.quote-text {
  padding: 5px;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  color: $color-normal-magenta;
}

.appbar{
  font-size: 2em;
}

.cal {
  color: $color-normal-cyan;
  padding: 5px;
  padding-bottom: 1px;
}

.favs {
  color: $color-normal-white;
  font-size: 2rem;
}

.small-date {
  font-weight: 700;
}

// Search App CSS
.searchapps-bar {
  color: $color-normal-cyan;
  font-size: 1.5rem;
  margin: -2px;
  padding: 30px 90px 30px 90px;
  background-color: $window-bg; // #1E222A;
  border: 6px solid $color-bright-blue;
}
.search-bar {
  color: $color-normal-cyan;
}
.search-label {
  font-family: "Iosevka";
  font-size: 2rem;
  font-weight: 700;
  padding-right: 20px;
}
.app-container {
  margin: -2px;
  font-size: 1.25rem;
  padding: 30px;
  color: $color-normal-cyan;
}
.item {
  padding: 10px;
  background: rgba(10,10,10,0.4);
}

.label-control {
  color: $color-bright-blue;
  font-size: 1.5rem;
  // padding: 15px;
}

.controls {
  font-size: 2rem;
  padding-bottom: 20px;
}

/////////////////////////////////
// BAR
//

.bar {
  border: 0px;
  border-radius: $border-radius;
  background-color: $window-bg;
  color: $color-fg;
  padding: 0px;
  margin-left: $spacing;
  margin-right: $spacing;
}

//////////////////////
// Workspaces

.workspaces {
  background-color: $window-bg;
  border-radius: $spacing-half;
}

.tag {
  font-size: 2rem;
  color: $color-dim-white;
  padding: 0;
}
.tag0 .tag-icon {
  border-radius: $spacing-half 0 0 $spacing-half;
}
.tag7 .tag-icon {
  // border-radius: 0 $spacing-half $spacing-half 0;
}

.tag .tag-icon {
  // padding-right: 6px;
}

.tag .mine {
  color: $window-bg;
  background-color: $color-normal-green;
}

.tag .busy {
  color: $color-dim-cyan;
}

.tag .notified {padding-right: $spacing;
  color: $color-normal-yellow;
}

////////////////////
// Sidestuff

.sidestuff {
  color: $color-dim-white;
}

// CPU info
.cpu {
  padding: $bar-vertical-padding $bar-horizontal-padding;
  background-color: $window-bg;
  border-radius: $border-radius;
}
.cpu .label {
  // background-color: $color-normal-red;
  font-size: 1.5rem;
  padding-right: 5px;
}

// Battery info
.battery {
  padding: $bar-vertical-padding $bar-horizontal-padding;
  background-color: $window-bg;
  border-radius: $border-radius;
}

// Controls
.bar .metric {
  // padding: $bar-vertical-padding $bar-horizontal-padding;
  background-color: $window-bg;
  border-radius: $border-radius;
}

// Networking
.bar .network {
  padding: 0;
  background-color: $window-bg;
  border-radius: $border-radius;

  .icon {
    font-size: 2rem;
    padding: 0 $spacing 0 0;
    margin: 0;
  }
}

// Date / time
.time {
  padding: $bar-vertical-padding $bar-horizontal-padding;
  background-color: $window-bg;
  border-radius: $border-radius;
}

// Power
.bar .bigpowermenu {
  padding-right: $spacing-double;
  background-color: $window-bg;
  border-radius: $border-radius;
  font-size: 1.5rem;
  color: $color-dim-white;
  // background-color: $window-bg;
}
.bar .bigpowermenu .button {
  padding: $bar-vertical-padding $spacing-half;
}

.powerbutton {
  font-size: 1.5rem;
  padding-left: $spacing;
  padding-right: $spacing;
}