@import "variables.scss";

$background: $color-bg;
$background-alt: #272727;
$spacing: 8px;
$spacing-double: 16px;
$spacing-half: 4px;
$border-radius: $spacing-half;
$bar-vertical-padding: $spacing-half;
$bar-horizontal-padding: $spacing;
$bar-widget-border-radius: 0;
// text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;
$bar-font-shadow: -2px 3px 5px black; 

* {
  all: unset;
  font-family: "mononoki Nerd Font Mono";
}
// WINDOW RELATED CSS
.bg {
  background-color: $background;
  border: 1px solid $background;
}

.bg-box {
  background-color: $background;
}

.notes {
  padding: 10px 20px 10px 5px;
}

window {
  background: transparent;
  color: $color-fg;
  // border-radius: 8px;
  border: 1px solid transparent;
}

// MISC EDITING
.uinfo {
  font-size: 1.25rem;
}

// METRIC LOOKS
.metric scale trough highlight {
  all: unset;
  color: #000000;
  background: $color-dim-cyan;
  border-radius: 8px;
}
.metric scale trough {
  all: unset;
  background-color: $color-bright-black;
  border-radius: 8px;
  min-height: 10px;
  min-width: 100px;
  margin-left: 10px;
  margin-right: 5px;
}

.metric .label {
  color: $color-dim-white;
  font-size: 2rem;
}

// POWERMENU
.bigpowermenu {
  padding-right: 10px;
  font-size: 1.5rem;
  color: $color-dim-white;
  // background-color: $background;
}

.powerbutton {
  font-size: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
}

.quicksettings {
  font-size: 1.75rem;
}

// WIDGET MISC SETTINGS

.quote-text {
  padding: 5px;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  color: $color-normal-magenta;
}

.appbar{
  font-size: 2em;
}

.cal {
  color: $color-normal-cyan;
  padding: 5px;
  padding-bottom: 1px;
}

.favs {
  color: $color-normal-white;
  font-size: 2rem;
}

.small-date {
  font-weight: 700;
}

// Search App CSS
.searchapps-bar {
  color: $color-normal-cyan;
  font-size: 1.5rem;
  margin: -2px;
  padding: 30px 90px 30px 90px;
  background-color: $background; // #1E222A;
  border: 6px solid $color-bright-blue;
}
.search-bar {
  color: $color-normal-cyan;
}
.search-label {
  font-family: "Iosevka";
  font-size: 2rem;
  font-weight: 700;
  padding-right: 20px;
}
.app-container {
  margin: -2px;
  font-size: 1.25rem;
  padding: 30px;
  color: $color-normal-cyan;
}
.item {
  padding: 10px;
  background: rgba(10,10,10,0.4);
}

.label-control {
  color: $color-bright-blue;
  font-size: 1.5rem;
  // padding: 15px;
}

.controls {
  font-size: 2rem;
  padding-bottom: 20px;
}

/////////////////////////////////
// BAR
//

.bar {
  border: 0px transparent;
  border-radius: $border-radius;
  background-color: $background;
  color: $color-fg;
  padding: 0px;
  margin-left: $spacing;
  margin-right: $spacing;
  text-shadow: $bar-font-shadow;
}

//////////////////////
// Workspaces

.workspaces {
  background-color: $background;
  border-radius: $spacing-half;
}

.tag {
  font-size: 2.1rem;
  color: $color-normal-white;
  padding: 0;
}
.tag0 .tag-icon {
  border-radius: $spacing-half 0 0 $spacing-half;
}
.tag7 .tag-icon {
  // border-radius: 0 $spacing-half $spacing-half 0;
}

.tag .tag-icon {
  padding: 0 $spacing-double;
}

.tag .mine {
  color: $background;
  background-color: $color-normal-green;
}

.tag .busy {
  color: $color-dim-cyan;
}

.tag .notified {padding-right: $spacing;
  color: $color-normal-yellow;
}

////////////////////
// Sidestuff

.sidestuff {
  color: $color-normal-white;
}
.separator, .terminator {

  // font-family: "mononoki Nerd Font";
  background-color: $background;
  color: $background-alt;
  font-size: 28px;
  padding: 0;
  margin: 0;
  
  &.alt {

    background-color: $background-alt;
    color: $background;

  }

}
.terminator {

  color: $background;
  text-shadow: $bar-font-shadow;
  
  &.alt {
    color: $background-alt;
  }

}

// CPU info
.cpu {
  padding: $bar-vertical-padding $bar-horizontal-padding;
  background-color: $background;
  border-radius: $bar-widget-border-radius;
  transition: width 0.2s;
  
  &.alt {
    background-color: $background-alt;
  }

  .label {
    // background-color: $color-normal-red;
    font-size: 1.5rem;
    padding-right: 5px;
  }
}

// Battery info
.battery {
  padding: $bar-vertical-padding $bar-horizontal-padding;
  background-color: $background;
  border-radius: $bar-widget-border-radius;
  
  &.alt {
    background-color: $background-alt;
  }

}

// Controls
.bar .metric {
  // padding: $bar-vertical-padding $bar-horizontal-padding;
  background-color: $background;
  border-radius: $bar-widget-border-radius;
  
  &.alt {
    background-color: $background-alt;
  }
}

// Networking
.bar .network {
  padding: 0 $bar-horizontal-padding;
  background-color: $background;
  border-radius: $bar-widget-border-radius;
  
  &.alt {
    background-color: $background-alt;
  }

  .icon {
    font-size: 2rem;
    padding: 0 $spacing 0 0;
    margin: 0;
  }
}

// Date / time
.time {
  padding: $bar-vertical-padding $bar-horizontal-padding;
  background-color: $background;
  border-radius: $bar-widget-border-radius;
  
  &.alt {
    background-color: $background-alt;
  }
}

// Power
.bar {
  .bigpowermenu {
    padding: 0 $bar-horizontal-padding;
    background-color: $background;
    border-radius: 0 $border-radius $border-radius 0;
    font-size: 24px;
    color: $color-normal-white;
    // background-color: $background;
    
    &.alt {
      background-color: $background-alt;
    }
    .button {
      padding: 2px $spacing-half;
    }
  }
}

.powerbutton {
  font-size: 1.5rem;
  padding-left: $spacing;
  padding-right: $spacing;
}