$color-fg: #d8dee9;
$color-bg: #2e3440;
$color-fg-alt: #d8dee9;
$color-bg-alt: #1E222A;

$color-normal-black: #3b4252;
$color-normal-red: #bf616a;
$color-normal-green: #a3be8c;
$color-normal-yellow: #ebcb8b;
$color-normal-blue: #81a1c1;
$color-normal-magenta: #b48ead;
$color-normal-cyan: #88c0d0;
$color-normal-white: #e5e9f0;

$color-bright-black: #4c566a;
$color-bright-red: #bf616a;
$color-bright-green: #a3be8c;
$color-bright-yellow: #ebcb8b;
$color-bright-blue: #81a1c1;
$color-bright-magenta: #b48ead;
$color-bright-cyan: #8fbcbb;
$color-bright-white: #eceff4;

$color-dim-black: #373e4d;
$color-dim-red: #94545d;
$color-dim-green: #809575;
$color-dim-yellow: #b29e75;
$color-dim-blue: #68809a;
$color-dim-magenta: #8c738c;
$color-dim-cyan: #6d96a5;
$color-dim-white: #aeb3bb;