;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

[color]
;; Active Colors
bg = #2e3440
fg = #d8dee9
fg-alt = #a5abb6

trans = #00000000
white = #e5e9f0         ;; Nord
black = #3b4252         ;; Nord

;; Nord Colors
red = #bf616a           ;; Nord
pink = #b48ead          ;; Nord
purple = #8e24aa
deep-purple = #5e35b1
indigo = #3949ab
blue = #81a1c1          ;; Nord
light-blue = #039be5
cyan = #88c0d0          ;; Nord
teal = #00897b
green = #a3be8c         ;; Nord
light-green = #7cb342
lime = #c0ca33
yellow = #ebcb8b        ;; Nord
amber = #ffb300
orange = #fb8c00
deep-orange = #f4511e
brown = #6d4c41
grey = #757575
blue-gray = #546e7a

[global/wm]
; Adjust the _NET_WM_STRUT_PARTIAL top value
; Used for top aligned bars
margin-bottom = 0

; Adjust the _NET_WM_STRUT_PARTIAL bottom value
; Used for bottom aligned bars
margin-top = 0

[bar/mainbar0]
inherit = bar/barbase
modules-left = activity workspace0
tray-position = right
tray-detached = true
tray-maxsize = 14
tray-offset-x = -100
tray-offset-y = 0
tray-padding = 15
tray-scale = 1.0
[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t "$SCRIPTPATH/template.liquid"
tail = true

[bar/mainbar1]
inherit = bar/barbase
modules-left = activity workspace1
[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t "$SCRIPTPATH/template.liquid"
tail = true

[bar/barbase]
width = ${env:width}
monitor = ${env:monitor}
offset-x = 8
offset-y = 8
height = 24
fixed-center = true
bottom = true

background = ${color.bg}
foreground = ${color.fg}

radius-top = 8.0
radius-bottom = 8.0

padding = 2
module-margin-left = 0
module-margin-right = 3

font-0 = "SauceCodePro Nerd Font:size=11:weight=semibold;3"
modules-center = date
modules-right = battery2 cpu pulseaudio sysmenu

enable-ipc = true

[settings]
throttle-output = 5
throttle-output-for = 10

screenchange-reload = false

compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
pseudo-transparency = false

;; Modules

[module/ewmh]
type = internal/xworkspaces

pin-workspaces = true
enable-click = true
enable-scroll = true

format = <label-state>

label-monitor = %name%

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/pulseaudio]
type = internal/pulseaudio
use-ui-max = false

format-volume = <ramp-volume>

label-volume = %percentage%%

label-muted = ﱝ
label-muted-foreground = ${color.fg-alt}
label-muted-font = 2

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 =  
ramp-volume-3 =   

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/date]
type = internal/date
interval = 1.0

time = %a %H:%M
time-alt = %B %d, %Y

format = <label>
label = %time%

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/activity]
type = custom/text

content = "Applications"
content-foreground = ${color.fg}

click-left = rofi -no-config -no-lazy-grab -show drun -theme $HOME/.config/leftwm/themes/current/rofi/launcher.rasi
click-right = rofi -no-config -no-lazy-grab -show drun -theme $HOME/.config/leftwm/themes/current/rofi/launcher.rasi

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/sysmenu]
type = custom/text

content = 襤
content-foreground = ${color.fg}

click-left = $HOME/.config/leftwm/themes/current/rofi/powermenu.sh
click-right = $HOME/.config/leftwm/themes/current/rofi/powermenu.sh

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/network]
type = internal/network
interface = enp4s0

interval = 1.0
accumulate-stats = true
unknown-as-up = true

format-connected = <label-connected>
format-disconnected = <label-disconnected>
format-packetloss = <label-packetloss>

label-connected = 
label-disconnected = 
label-disconnected-foreground = ${color.fg-alt}
label-packetloss = 

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/cpu]
type = internal/cpu

; Seconds to sleep between updates
; Default: 1
interval = 0.5

; Available tags:
;   <label> (default)
;   <bar-load>
;   <ramp-load>
;   <ramp-coreload>
format = <label> <ramp-coreload>

; Available tokens:
;   %percentage% (default) - total cpu load averaged over all cores
;   %percentage-sum% - Cumulative load on all cores
;   %percentage-cores% - load percentage for each core
;   %percentage-core[1-9]% - load percentage for specific core
label =  %percentage%%

; Spacing between individual per-core ramps
ramp-coreload-spacing = 1
ramp-coreload-0 = ▁
ramp-coreload-1 = ▂
ramp-coreload-2 = ▃
ramp-coreload-3 = ▄
ramp-coreload-4 = ▅
ramp-coreload-5 = ▆
ramp-coreload-6 = ▇
ramp-coreload-7 = █

[module/memory]
type = internal/memory

; Seconds to sleep between updates
; Default: 1
interval = 3

[module/battery]
type = internal/battery

; This is useful in case the battery never reports 100% charge
full-at = 99

; Use the following command to list batteries and adapters:
; $ ls -1 /sys/class/power_supply/
battery = BAT0
adapter = ADP1

; If an inotify event haven't been reported in this many
; seconds, manually poll for new values.
;
; Needed as a fallback for systems that don't report events
; on sysfs/procfs.
;
; Disable polling by setting the interval to 0.
;
; Default: 5
poll-interval = 5

[module/battery2]
type = custom/script

exec = ~/.cargo/bin/lefty-status -c $HOME/.config/leftwm/themes/current/.config/lefty-status/config.toml module battery
;exec = i3status-rs ~/.config/leftwm/themes/current/.config/i3status-rust/config.toml
;exec = baru
interval = 5$
click-right = eww open sys -c $SCRIPTPATH/.config/eww/dark-nord 